<h1>Edit choice for <%= @scene.subject %></h1>

<%= render 'choices/form' %>


<div>
	<p><%= link_to "Create Target Scene", story_scene_choice_create_target_scene_path(@story, @scene, @choice), method: 'post' %>
	</p>
</div>
