<h1>Stories</h1>

<div>
	<ul class="list-unstyled">
		<% @stories.each do |story| %>
			<li><%= link_to story.title, story_path(story) %></li>
		<% end %>
	</ul>
</div>

<div>
	<%= link_to "Create new story", new_story_path, class: 'btn btn-default' %>	
</div>

